html {
  height: 100%;
  width: 100%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Righteous&display=swap');


/* ................utility class............. */
h3{
    font-size: 2rem;
    font-style: normal;
    font-family: 'Anton', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}
h1{
    font-family: 'Righteous', cursive;
    text-transform: uppercase;
    color: white;
    font-size: 3.5rem;

                                                
}

p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: white;
    font-size: 1rem;
}

--paragraph-colour:

a{
    text-decoration: none !important;
    display: block;
}
/* ....................navbar-brand................ */
.navbar-brand{
    font-size: 2.5rem;
    font-style: normal;
    font-family: 'Anton', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    padding-left: 50px;
}

.form-inline{
    flex-flow: row wrap;
}

.btn-login a span{
    margin-right: 10px;
}

.fa-solid{
    margin-right: 10px;
}

.btn-2{
    border: none;
    background: none;
}

/* ....................main-hero................ */
.hero{
    background-color: #181823;
  height: 120%;
}
.detail-box{
    margin: 87px;
}
.image-sofa{
    padding-top: 53px;
}
/* .................about-furniture.............. */
.about-line{
   text-decoration: underline  #14dc56;
   text-decoration-thickness: 5px;
   }
.about-text{
    color: black;
    font-weight: 300;
}
.box{
    box-shadow: 5px 10px;
}
.deatil-about a{
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-size: 1rem;
}
.deatil-about h3{
    font-size: 3rem;
    font-family: 'Righteous', cursive;
}
.about-text{
     font-family: 'Open Sans', sans-serif;
     font-weight: 100;
      padding-top: 15px;  
     font-size: 1rem;
    
}

/* .......................furnitur-layout................ */
.furniture-layout{
    background-color: white;
  margin-bottom: 50px;
}




.card-image{
    background-color: black;
    align-items: center;
    justify-content: center;
}

.card-content .span{
    font-size: 20px;
}
.price{
    font-size: 1rem;
}

.card-image{
    background-color: black;
    align-items: center;
    justify-content: center;
    height:325px;
}
.card-para{
  font-family: opensans;
  color: black;
  font-weight: 100;
}
.price span{
  float: right;
  color: green;
}
a{
  text-decoration: none !important
  
}
.card-content a{
  color: black;
}
/* .........................home-deco....................... */
.home-deco{
   background-color: #181823;
/*   height: 60vh; */
}


.home-deco img{
  width: 100%;
}
.home-deco h3{
  color: white;
}

.heading-container p{
  font-weight: 100;
}
.heading-container a{
  text-decoration: none;
  color: white;
  font-family: 'Righteous', cursive;
}
a::hover{
  color: white;
}

/* .................BLOG.............. */
 